spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/doodledb}
    username: ${SPRING_DATASOURCE_USERNAME:doodle}
    password: ${SPRING_DATASOURCE_PASSWORD:doodle}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
server:
  port: 8080
logging:
  level:
    root: INFO
    com.example.doodle: DEBUG
